/* Contains pieces of CSS where the website should not follow stock CSS */

body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
    height: 100% !important;
    /*overflow-x:hidden;*/
}

h1 {
	font-weight: 700;
}

i{
	color: #0A2239;
	
}

/* Navigation exceptions to Bootstrap*/
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #0A2239;
	border-radius: 0px;
	padding: 10px 0;

	position: fixed;
  	right: 0;
  	left: 0;
	z-index: 1030;
	  
	top: 0;
	border-width: 0 0 1px;  
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #3A7CA5;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #3A7CA5;
	/* color: #7bc3d1; */
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}

/* Intro / Header exceptions to Bootstrap */

p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 0px;
	text-align: center;
	color: #ffffff;
	/*background: url(../img/intro-bg.jpg) no-repeat center top;*/
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro H1 {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: -2px;
}

.intro h3 {
	font-size: 32px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 40px;
}
.intro .intro-text {
    max-width: 95%;
	text-align: left;
	float: left;
}
.intro .intro-text p {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin-bottom: 40px;
	margin-top: 10px;
	margin-right: 0px;
}

.intro .intro-text i {
	color: rgb(255, 255, 255);
	font-size: 32px;
}

#header, #about, #projects, #contact{
	padding-top: 70px;
}

header .intro-text {
	padding-left: 15px;
}

header .row {
	padding-top: 130px;
	padding-bottom: 70px;
}


.intro .profile-photo {
	max-width: 100%;
	float: right;
	padding-right: 15px;
	padding-left: 15px;

}

.intro .profile-photo img {
	width: 100%;
	height: auto;
}

/* About exceptions to Bootstrap */

.about-text{
	font-size: 18px;
}

#about .btn{
	/* padding: 8px 16px; */
	font-size: 18px;
	border: 2px solid transparent;
}

.about-text i{
	color: #ffffff;
}

/* Project exceptions to Bootstrap */

p.project-title{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 24px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.project-image{
	height: 400px;
	margin: 0 auto;
}

.project-image img{
	max-height: 80%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card-colour-a, .card-colour-b{
	min-height: 300px;
}

.card-colour-a{
	background-color: #c9fbffee;
}

.card-colour-b{
	background-color: #7bc3d1ee;
}

.card-colour-a p, .card-colour-b p{
	line-height: 20px;
} 

.col-md-3, .col-md-4, .col-md-5{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media(min-width: 992px) {
	.row {
		display: flex;
	}
}

img.img-responsive {
	margin-top: 10%;
    margin-bottom: 10%;
}

/* Contact exceptions to Bootstrap */
@media (min-width: 350px){
	#contact .col-md-4{
		float: left;
		width: 33.33333333%;
	}
}

/* Footer exceptions to Bootstrap */
.footerText p{
	color: #656c6deb;
	font-size: 12px;
	line-height: 1;
	text-align: center;
}

div #footer{
	padding-top: 30px;
}





